body {
	background: url("../img/h_back.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*
	background-color: black;
	 * text-align: center;
	color: white;
	 * */
	font-family: 'Josefin Sans', sans-serif;
}	

table {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	border: 5px white;
	font-size: 16pt;
	color: black;
}

h1 {
	/*
	margin-top:10%;
	color: white;
	background-color: white; 
	text-transform: uppercase;
	 * width: 60%;*/
	font-size: 15pt;
	text-align: left;
	color: black; 
	background-color: rgb(40, 40, 40, 0.6);
	font-variant: small-caps;
}

a.nav {
	color: black; 
	font-size: 15pt;
	font-style: bold;
	font-variant: small-caps;
	text-align: center;
	text-decoration: none;
}


a {
	color: rgb(10, 10, 100);
	/*font-size: 13pt;*/
	font-style: bold;
	font-variant: small-caps;
	text-align: center;
	text-decoration: none;
}

a:visited {
	font-style: bold;
	text-align: center;
	text-decoration: none;
	font-variant: small-caps;
}

a:hover {
	color: red;
	font-style: bold;
	/*background-color: rgb(40, 40, 40, 0.8);*/
}

.foot {
	text-align: center;
	margin-bottom:10%;
	font-style: italic;
}

.bar{
	/*margin-right: 20%;
	margin-left: 20%;
	position:absolute;*/
	font-size: 20px;
	background-color: rgb(40, 40, 40, 0.5);
	margin-bottom: 5%;
}

.paragraphs {
	margin-left: 20%;
	margin-right: 30%;
	background-color: rgb(40, 40, 40, 0.15);
}


.paragraph {
	margin-left: 150px;
	font-size: 12pt;
	text-align: left;
}


.footlink {
	margin-top:5px;
	text-align:center;
	margin-bottom:40px;
}

.sidefig {
	margin-left:15px;
	margin-top: 20px;
        position:absolute;
	height: 100px;
	width: 100px;
}


