body {
	background: url("../img/h_back.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Josefin Sans', sans-serif;
}	

table {
	margin-left: 5%;
	margin-right: 1%;
	width: 85%;
	border: 5px white;
	font-size: 16pt;
	color: black;
	text-align: center;
}

h1 {
	font-size: 15pt;
	text-align: left;
	color: white; 
	background-color: rgb(0, 0, 0, 1.0);
	font-variant: small-caps;
}

a.nav {
	background-color: black;
	color: white; 
	font-size: 17pt;
	font-style: bold;
	font-variant: small-caps;
	text-align: center;
}


a {
	color: rgb(10, 10, 100);
	font-style: bold;
	font-variant: small-caps;
}

a:visited {
	/* change color just in case */
	font-style: bold;
	font-variant: small-caps;
}

a:hover {
	/* change color just in case */
	color: red;
	font-style: bold;
	/*background-color: rgb(40, 40, 40, 0.8);*/
}

.foot {
	text-align: center;
	margin-bottom:5%;
	font-style: italic;
}

.bar{
	font-size: 20px;
	background-color: rgb(0, 0, 0, 1.0);
	margin-bottom: 5%;
}

.paragraphs {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	background-color: rgb(40, 40, 40, 0.15);
}


.paragraph {
	margin-left: 150px;
	margin-right: 15px;
	font-size: 12pt;
	text-align: left;
}


.footlink {
	margin-top:5px;
	text-align:center;
	margin-bottom:40px;
}

.sidefig {
	margin-left:5px;
	margin-top: 0px;
        position:absolute;
	height: 135px;
	width: 135px;
}


